/*****************************************************************************/
/*****************************************************************************/
/* SITEWIDE */

html {
  height:              100%;
  margin:              0;
  padding:             0;
}

body {
  margin:              0;
  padding:             0;
  height:              100%;
  background-color:    #FAFAFA;
}

a {
  text-decoration:     none;
  color:               inherit;
}

a:visited {
  text-decoration:     none;
  color:               inherit;
}

a:active {
  text-decoration:     none;
  color:               inherit;
}

.camagrufont {
  font-family:         'Oswald', sans-serif;
}

li {
  list-style-type:     none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline:           none;
}

label {
  width: 150px;
  display: block;
}

/*****************************************************************************/
/*****************************************************************************/
/* HEADER */

header {
  width:               105%;
  height:              75px;
  padding:             0;
}

.logo_font {
  font-family:         'Damion', cursive;
  font-size:           55px;
  height:              55px;
  margin:              0;
  margin-left:         20px;
  margin-top:          0px;
}

.signinup {
  position:            relative;
  left:                -10px;
}

.menuitem {
  margin-right:        30px;
  font-size:           25px;
}

#header_top {
  width:               102%;
  height:              75px;
  background-color:    rgb(117, 52, 52);
  display:             flex;

}

#brand {
  width:               20%;
  display:             flex;
}

#logofont {
  width:               200px;
}

#logo_header {
  width:               50px;
  height:              50px;
  margin-left:         5px;
  margin-top:          17px;
}

#menu_bottom {
  float: right;
  padding:             0;
  padding-left:        0px;
  padding-top:         6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#menu {
  position:            absolute;
  width:               80%;
  z-index:             1;
}

#usericon {
  margin-left:         3px;
}

/*****************************************************************************/
/*****************************************************************************/
/* INDEXPAGE */

h1.welcome_font {
  padding-top:         5px;
  margin:              0;
}

h4.welcome_font {
  padding:             0px;
  margin:              0px;
  margin-top:          0px;
}

button.welcome_font {
  font-size:           15px;
}

.main_area {
  width:               350px;
  background-color:    #FFFFFF;
  color:               #838383;
  text-align:          center;
  border-radius:       10px;
  margin-left:         auto;
  margin-right:        auto;
  margin-top:          auto;
  margin-bottom:       auto;
  border:              1px solid;
  border-color:        #edeeee;
}

#body {
  width:               100%;
  padding:             10px;
  padding-bottom:      50px;
  background-color:    #FAFAFA;
}

#container {
  min-height:          100%;
  position:            relative;
  margin-bottom:       -50px;
  display:             block;
}

#logsignerror_section {
  height:              100px;
  width:               350px;
  margin-left:         auto;
  margin-right:        auto;
}

#error {
  text-align:          center;
  color:               red;
  border-radius:       10px;
  font-size:           15px;
}

/*****************************************************************************/
/*****************************************************************************/
/* Clear Footer */

.clearfooter {
  height:              50px;
  clear:               both;
}

/*****************************************************************************/
/*****************************************************************************/
/* Log In */

.welcome_font {
  font-family:         'Nunito', sans-serif;
}

.login_input {
  height:              30px;
  width:               300px;
  text-align:          center;
  background-color:    #FAFAFA;
  border-radius:       3px;
  border:              1px solid;
  border-color:        #c7c0c0;
  margin-top:          10px;
  font-family:         'Nunito', sans-serif;
}

#login_logo {
  margin: 0;
  color:               rgb(117, 52, 52);
}

#login_forgot {
  margin:              0;
  margin-bottom:       15px;
  font-size:           15px;
  font-family:         'Nunito', sans-serif;
}

#login_forgot:hover {
  margin:              0;
  margin-bottom:       15px;
  font-size:           15px;
  color:               #535353;
  font-family:         'Nunito', sans-serif;
}

#login_button {
  width:               306px;
  height:              36px;
  background-color:    rgb(117, 52, 52);
  border-color:        rgb(117, 52, 52);
  border:              1px solid;
  border-radius:       3px;
  color:               #FFFFFF;
  padding:             2px;
  margin-top:          5px;
}

#login_button:hover {
  background-color:    rgba(88, 2, 2, 1);
  cursor:              pointer;
}

#login_signup {
  height:              75px;
  width:               350px;
  border-radius:       10px;
  background-color:    #FFFFFF;
  border:              1px solid;
  border-color:        #edeeee;
  margin-top:          15px;
  margin-left:         auto;
  margin-right:        auto;
  text-align:          center;
}

/*****************************************************************************/
/*****************************************************************************/
/* Sign Up */

.main_area_signup {
  width:               350px;
  background-color:    #FFFFFF;
  color:               #838383;
  text-align:          center;
  border-radius:       10px;
  margin-left:         auto;
  margin-right:        auto;
  margin-top:          auto;
  margin-bottom:       auto;
  border:              1px solid;
  border-color:        #edeeee;
}

#signupbtn {
  width:               306px;
  height:              36px;
  background-color:    rgb(117, 52, 52);
  border-color:        rgb(117, 52, 52);
  border:              1px solid;
  border-radius:       3px;
  color:               #FFFFFF;
  padding:             2px;
  margin-top:          5px;
  margin-bottom:       15px;
}

#signupbtn:hover {
  background-color:    rgba(88, 2, 2, 1);
  cursor:              pointer;
}
#signupform {
  margin-top:          0px;
}

#signup_section {
  position:            relative;
  width:               100%;
  height:              100%;
}

#signup_welcome {
  margin:              0;
  margin-top:          15px;
}

.login_input {
  height:              30px;
  width:               300px;
  text-align:          center;
  background-color:    #FAFAFA;
  border-radius:       3px;
  border:              1px solid;
  border-color:        #c7c0c0;
  margin-top:          10px;
  font-family:         'Nunito', sans-serif;
}

#country {
  width:               306px;
  height:              33px;
  font-family:         'Nunito', sans-serif;
  color:               #838383;
  border-radius:       3px;
  text-indent:         133px;
  text-align:          center !important;
  margin-top:          10px;
  border:              1px solid;
  border-color:        #c7c0c0;
  -webkit-appearance:  none;
  -moz-appearance:     none;
  appearance:          none;
}

option {
  text-align:          center;
}

.signup_status {
  width:               100%;
}

#status {
  height:              20px;
  width:               350px;
  color:               #F00;
  text-align:          center;
  margin-left:         auto;
  margin-right:        auto;
  font-family:         'Nunito', sans-serif;
}

/*****************************************************************************/
/*****************************************************************************/
/* Sign Up Success */

.thankyoured {
  color:               rgb(117, 52, 52);
}

/*****************************************************************************/
/*****************************************************************************/
/* Password Reset */

#passwordreset {
  margin-top: 25px;
}

#forgotpassbtn {
  width:               306px;
  height:              36px;
  background-color:    rgb(117, 52, 52);
  border-color:        rgb(117, 52, 52);
  border:              1px solid;
  border-radius:       3px;
  color:               #FFFFFF;
  padding:             2px;
  margin-top:          5px;
}

/*****************************************************************************/
/*****************************************************************************/
/* Activation Message */

#message_section {
  position:            relative;
  width:               100%;
  height:              100%;
}

.main_area_message {
  height:              200px;
  width:               350px;
  background-color:    #FFFFFF;
  color:               #838383;
  text-align:          center;
  border-radius:       10px;
  margin-left:         auto;
  margin-right:        auto;
  margin-top:          auto;
  margin-bottom:       auto;
  border:              1px solid;
  border-color:        #edeeee;
}

#loginbtn {
  width:               406px;
  height:              36px;
  background-color:    rgb(117, 52, 52);
  border-color:        rgb(117, 52, 52);
  border:              none;
  border-radius:       3px !important;
  color:               #FFFFFF;
  padding:             2px;
  margin-top:          5px;
}

#loginbtn:hover {
  background-color:    rgba(88, 2, 2, 1);
  cursor:              pointer;
}

/*****************************************************************************/
/*****************************************************************************/
/* User Page */

.main_area_user {
  width:               350px;
  background-color:    #FFFFFF;
  color:               #838383;
  text-align:          center;
  border-radius:       10px;
  margin-left:         auto;
  margin-right:        auto;
  margin-top:          auto;
  margin-bottom:       25px;;
  z-index:             0;
  border:              1px solid;
  border-color:        #edeeee;
}

.userspan {
  font-family:         'Nunito', sans-serif;
}

.request_button {
  width:               306px;
  height:              36px;
  background-color:    rgb(117, 52, 52);
  border-color:        rgb(117, 52, 52);
  border:              1px solid;
  border-radius:       3px;
  color:               #FFFFFF;
  padding:             2px;
  margin-top:          5px;
}

.request_button:hover {
  background-color:    rgba(88, 2, 2, 1);
  cursor:              pointer;
}

.request_button:disabled {
  background-color:    rgb(135, 91, 91);
  border-color:        rgb(135, 91, 91);
}

.avatar {
  width:               200px;
  height:              200px;
}

.friendpics {
  height:              100px;
  width:               100px;
}

.inputfile {
  width:               0.1px;
	height:              0.1px;
	opacity:             0;
	overflow:            hidden;
	position:            absolute;
	z-index:             -1;
}

.inputfile + label {
  cursor:              pointer;
  color:               #FFFFFF;
  display: inline-block;
}

.inputfile + label:hover {
  cursor:              pointer;
  color:               #FFFFFF;
  background:          rgba(88, 2, 2, 1);
}

#profile_pic_box {
  margin-top:          15px;
}

#profile_pic_box > img {
  z-index:             2000;
}

#profile_pic_box > a {
  display:             none;
  z-index:             4000;
  position:            absolute;
  margin-top:          -30px;
  margin-left:         75px;
  width:               200px;
  color:               #FFFFFF;
  border-radius:       3px;
  background:          rgba(117, 52, 52, 1);
}

#profile_pic_box > form {
  display:             none;
  z-index:             3000;
  width:               350px;
  height:              300px;
  position:            absolute;
  color:               #FFFFFF;
  margin-left:         0px;
  background-color:    rgba(255, 255, 255, 0.6);
}

#profile_pic_box:hover a {
  display:             block;
}

#change_avatar {
  opacity:             1;
  color:               rgb(117, 52, 52);
}

#change_avatar_btn {
  opacity:             1;
}

#choose_avatar {
  opacity:             1;
  width:               200px;
}

#choose_avatar_label {
  width:               150px !important;
  border-radius:       3px;
  margin-left:         auto;
  margin-right:        auto;
  background-color:    rgb(117, 52, 52);
}

#choose_avatar_label:hover {
  width:               150px !important;
  border-radius:       3px;
  margin-left:         auto;
  margin-right:        auto;
  background-color:    rgb(75, 7, 7);
}

#user_name {
  color:               rgb(117, 52, 52);
  font-size:           25px;
}

#friend_name {
  color:               rgb(117, 52, 52);
  margin:              0;
}

/*****************************************************************************/
/*****************************************************************************/
/* Photo */

#container_photo {
  margin:              0px auto;
  margin-top:          30px;
  width:               640px;
  height:              480px;
  border:              10px #333 solid;
  display: none;
}

#videoElement {
  width:               500px;
  height:              375px;
  background-color:    #666;
}

#snapdiv {
  margin-left:         auto;
  margin-right:        auto;
  width:               612px;
  display: none;
}

#addphotodiv {
  margin-left:         auto;
  margin-right:        auto;
  width:               310px;
}

#addphoto {
  margin-left:         auto;
  margin-left:         auto;
}

.acceptdecline {
  justify-content:     center;
  text-align:          center;
  margin-left:         auto;
  margin-right:        auto;
  margin-top:          8px;
  width:               620px;
}

.snapbutton {
  width:               306px;
  height:              36px;
  background-color:    rgb(117, 52, 52);
  border-color:        rgb(117, 52, 52);
  border:              1px solid;
  border-radius:       3px;
  color:               #FFFFFF;
  padding:             2px;
  margin-top:          5px;
  font-size:           20px;
}

#myCanvas {
  width:               640px;
  height:              480px;
  margin-top:          5px;
  background-color:    none;
  position:            relative;
  z-index:             1;
}

#lightBoxBg {
  position:            absolute;
  top:                 0px;
  left:                0px;
  opacity:             0.8;
  display:             none;
  height:              100%;
  width:               100%;
  background-color:    black;
}

#lightBox {
  position:            absolute;
  top:                 7%;
  margin-left:         auto;
  margin-right:        auto;
  display:             none;
}

/*****************************************************************************/
/*****************************************************************************/
/* FEED */

.main_feed_area {
  width:               350px;
  background-color:    #FFFFFF;
  color:               #838383;
  text-align:          center;
  border-radius:       10px;
  margin-left:         auto;
  margin-right:        auto;
  margin-top:          auto;
  margin-bottom:       25px;;
  z-index:             0;
  border:              1px solid;
  border-color:        #edeeee;
}

.feed_username {
  text-align:          left;
  width:               50%;
  padding-top:         5px;
}

.feed_date {
  width:               50%;
  text-align:          right;
  padding-top:         5px;
}

.feed_post_header {
  width:               100%;
  height:              75px;
  background-color:    none;
  border:              none;
  border-color:        none;
  color:               none;
  position:            relative;
  margin-left:         -1px;
  margin-top:          -1px;
  display:             flex;
}

.postheader {
  width:               300px;
  margin-left: auto;
  margin-right: auto;
  display:             flex;
}

.feed_comments{
  width:               552px;
  height:              auto;
  margin-left:         auto;
  margin-right:        auto;
}

.feed_likes {
  width:               100%;
  height:              20px;
}

.likes {
  margin:              0;
  margin-top:          16px;
}

.username {
  color:               rgb(117, 52, 52);
}

.comments {
  list-style-type:     none;
  padding:             0;
}

.username_comment {
  margin-left:         10px;
}

.commentmade {
width:                 315px;
margin-bottom:         10px;
}

.add_comments {
  display:             flex;
  margin-bottom:       16px;
}

.heart {
  height:              25px;
  width:               25px;
}

.comment_form {
  margin-left:         10px;
}

.add_comment {
  border:              none;
  font-family:         'Nunito', sans-serif;
  font-size:           15px;
}

.textbox {
  border:              none;
  resize:              none;
  width:               300px;
  margin-left:         20px;
}

.statusBtn {
  display:             none;
}

.replyBtn {
  display:             none;
}

.status_plus_delete {
  display: flex;
}

.status_boxes {
  height:              auto;
  display:             block;
  text-align:          left;
  margin-left:         10px;
  margin-bottom:       5px;
  width:               300px;
  margin-left: auto;
  margin-right: auto;
}

.reply_boxes {
  height:              auto;
  display:             block;
  text-align:          left;
  margin-left:         0px;
  margin-bottom:       5px;
  width:               300px;
}

.status_length {
  width:               310px;
}

#statusui {
  text-align:          center;
}

textarea::-webkit-input-placeholder {
  font-size:           15px;
}

#statusarea {
  margin-left: auto;
  margin-right: auto;
}

#template_status {
  text-align: left;
}

#feed_section {
  margin-top:          10px

}

#photo {
  width:               100%;
  height:              100%;
}

#photo img {
  width:               inherit;
}

#photos_section {
  display:             none;
  position:            relative;
  width:               100%;
  height:              100%;
}

#comment_input {
  resize: both;
  width: 300px;
}

/*****************************************************************************/
/*****************************************************************************/
/* NOTIFICATIONS */

#notificationtitle {
  margin-top:          10px;
}
#main_area_notes_notif {
  margin-top:          20px;
}

.user_info {
  margin-top:          10px;
}

.acceptrejectbuttons {
  width:               153px;
  height:              36px;
  background-color:    rgb(117, 52, 52);
  border-color:        rgb(117, 52, 52);
  border:              1px solid;
  border-radius:       3px;
  color:               #FFFFFF;
  padding:             2px;
  margin-bottom:       10px;
  font-size:           15px;
}

.main_area_notes {
  width:               350px;
  background-color:    #FFFFFF;
  color:               #838383;
  text-align:          center;
  border-radius:       10px;
  margin-left:         auto;
  margin-right:        auto;
  margin-top:          auto;
  margin-bottom:       auto;
  z-index:             0;
  border:              1px solid;
  border-color:        #edeeee;
}

/*****************************************************************************/
/*****************************************************************************/
/* FOOTER */

footer {
  width:               102%;
  height:              50px;
  background:          none;
  position:            absolute;
  bottom:              0;
  justify-content:	   center;
  text-align:          center;
  font-family:         'Comfortaa', cursive;
}

#footer_logo_div {
  display:             flex;
  justify-content:	   center;
  width:               100%;
}

#logo_footer {
  height:              50px;
  width:               50px;
  position:            relative;
  font-family:         'Oswald', sans-serif;
}

#foot_div {
  display:             flex;
  margin-left:         20px;
}

#copyright {
  width:               100px;
  margin:              0;
  margin-left:         5px;
}

#about {
  margin:              15px;
}

/*****************************************************************************/
/*****************************************************************************/
/* Hamburger Menu */

header ul {
  margin:               0;
  padding:              0;
  list-style:           none;
  overflow:             hidden;
  background-color:     rgb(117, 52, 52);
}

header li a {
  display:              block;
  padding:              20px 20px;
  border-right:         1px solid rgb(117, 52, 52);
  text-decoration:      none;
}

header li a:hover,
header .menu-btn:hover {
  background-color:     rgb(117, 52, 52);
}

header .logo {
  display:              block;
  float:                left;
  font-size:            2em;
  padding:              10px 20px;
  text-decoration:      none;
}

/* menu */

header .menu {
  clear:                both;
  max-height:           0;
  transition:           .2s ease-out;
}

/* menu icon */

header .menu-icon {
  cursor:               pointer;
  display:              inline-block;
  float:                right;
  width:                50px;
  padding:              28px 20px;
  position:             relative;
  user-select:          none;
  margin-top:           11px;
}

header .menu-icon .navicon {
  background:           black;
  display:              block;
  height:               2px;
  position:             relative;
  transition:           background .2s ease-out;
  width:                24px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background:           black;
  content:              '';
  display:              block;
  height:               100%;
  position:             absolute;
  transition:           all .2s ease-out;
  width:                100%;
}

header .menu-icon .navicon:before {
  top:                  7px;
}

header .menu-icon .navicon:after {
  top:                  -7px;
}

/* menu btn */

header .menu-btn {
  display:              none;
}

header .menu-btn:checked ~ .menu {
  max-height:           240px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background:           transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform:            rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform:            rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top:                   0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  header li {
    float:              right;left;
  }
  header li a {
    padding:            20px 30px;
  }
  header .menu {
    clear:              none;
    float:              right;
    max-height:         none;
  }
  header .menu-icon {
    display:            none;
  }
}
